/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

.message_widget_style {
    border-bottom: 2px solid limegreen;
    margin-top: 5px;
}

.user_widget_style {
    border-bottom: 1px solid gray;
    margin-top: 5px;
}

.users_widget_style {
    border: solid;
    border-color: black;
    border-radius: 5px;
    margin-right: 2px;
}

.elements_diff_style {
    text-align: left;
    margin-top: 5px;
}

.login_style {
    margin-top: 100px;
    border: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login_units {
    margin-left: 55px;

}

.login_input_style {
    margin-left: 5px;
    margin-right: 5px;
}

.submit_style {
    margin-top: 5px;
    margin-bottom: 5px;

}

.input_style {
    resize: none;
}
